/* your code here */
.product{
	display:flex;
	justify-content:space-around;
	align-items:center;
}
.controls{
	color:white;
	background-color:green;
	display:flex;
	justify-content:space-between;
}
.product__photo{
	box-sizing: content-box;
    width: 100%;
    padding: 5px;
}
.photo-container{
	background-color:white;
	
}
.photo-main{
	background-color:green;
	hight:500px;
	width:350px
}
.photo-album{
	display:flex;
	border:2px solid gray;
	align-items:center;
	justify-content:space-between;
}
.product__info{
	flex-wrap:wrap;
}
.price{
	color:red;
	font-size:40px;
}